SUPABASE_URL=https://gitugrdddywbgjinmmhj.supabase.co
SUPABASE_SERVICE_ROLE_KEY=sb_secret_uEdcCkN1BWFZOZS-bWeMBw_-_w6oW02
JWT_SECRET=fitNess-zonEbYAditya-ChauDhary.878950
OWNER_EMAIL=fitness.zone.tracker@gmail.com
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=fitness.zone.tracker@gmail.com
SMTP_APP_PASSWORD=mkwk fudq ihqk jzcf
